{% extends 'base.html' %} {% load static %} {% block style_sheet %}
<link
  type="text/css"
  rel="stylesheet"
  href="{% static 'css/home_style.css' %}" />
{% endblock %} {% block content %}
<div id="main-div">
  <div id="login-form-container">
    <div id="login-form">
      <h1>Add New Todo</h1>
      <form method="post" action="/add-todo/">
        {% csrf_token %} {{ form.as_p }}
        <div id="add-button">
          <input type="submit" value="add" />
        </div>
      </form>
    </div>
  </div>

  <div id="todo-list-container">
    <div id="todo-list-block">
      {% if todos|length == 0 %}
      <div>no todos</div>
      {% else %}
      <table id="todo-table">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for todo in todos %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ todo.title }}</td>
            <td>{{ todo.status }}</td>
            <td>{{ todo.priority }}</td>
            <td>
              <a href="/delete-todo/{{todo.id}}"> 🗑️ </a>
              {% if todo.status == 'P' %}
              <a href="/change-status/{{todo.id}}/C"> ❌ </a>
              {% else %}
              <a href="/change-status/{{todo.id}}/P">  ✅ </a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
